:root {
  --max-width: 1366px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Colors */
  --primary-green: #018762;
  --secondary-green: #B0E0D3;
  --default-black: #1F1F1F;
  --primary-gray: #515151;
  --secondary-gray: #EEEEEE;
  --white: #FFFFFF;
  --shadow-color: rgba(0, 0, 0, 0.25);

  /* Typography */
  --xl-large-size: 3rem;
  --large-size: 2rem;
  --medium-size: 1.5rem;
  --small-size: 1.125rem;
  --default-size: 1rem;
  --x-small-size: 0.75rem;

  /* Spacing */
  --xxl-large: 4rem;
  --x-large: 2.5rem;
  --large: 2rem;
  --medium: 1.5rem;
  --base: 1rem;
  --small: 0.5rem;
  --x-small: 0.25rem;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
}
